* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
}

#card-box {
    display: flex;
    flex-wrap: wrap;
}

.day-card {
    margin: 5px;
    font-size: 1.6rem;
    border: .1rem solid black;
    min-width: 25rem;
}